.done
    h4(style="margin-top: 17px;") Ура, у вас всё получилось!
    h4(style="font-size: 17px; color: #605d5d;margin-top: -3px;") Заказ !{paymentId} оплачен!
    .bigbabula
    a.btn.btn-default.btn-lg.btn-block(href="/") Ещё один заказ?

